@font-face {
  font-family: "Metropolis";
  src: url(../font/metropolis-regular-webfont.woff2) format("woff2");
  src: url(../font/metropolis-regular-webfont.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url(../font/metropolis-medium-webfont.woff2) format("woff2");
  src: url(../font/metropolis-medium-webfont.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url(../font/metropolis-bold-webfont.woff2) format("woff2");
  src: url(../font/metropolis-bold-webfont.woff) format("woff");
  font-weight: 700;
}

:root {
  --clr-primary-100: #f9f0ff;
  --clr-primary-400: #722ed1;
  --clr-text-700: #160637;
  --clr-text-light: #8989a2;
  --clr-white: #fff;
}
/* Global Selectors */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Metropolis";
  overflow-x: hidden;
  position: relative;
}

section {
  margin-top: 5rem;
}

.container {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  color: var(--clr-text-700);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: block;
  padding: 1em 1.5em;
  border-radius: 2em;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.11);
  font-size: 14px;
}

.btn-primary {
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
}
.btn-white {
  background-color: var(--clr-white);
}

.btn + .btn {
  margin-top: 1rem;
}

.section-head {
  font-size: 1rem;
  color: var(--clr-primary-400);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--clr-primary-100);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0 auto 2rem auto;
}
.section-desc {
  margin: 2rem auto 1rem auto;
  color: var(--clr-text-light);
  font-weight: 500;
  line-height: 1.6;
  max-width: 45ch;
}

/* header Start */
header {
  padding-top: 2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  cursor: pointer;
}

.main-nav_links {
  text-align: center;
  font-size: 0.875rem;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  background: rgb(249, 240, 255);
  background: linear-gradient(
    360deg,
    rgba(249, 240, 255, 1) 0%,
    rgba(114, 46, 209, 1) 100%
  );
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 0;
  transform: translateY(-100%);
  transition: 400ms;
}

.main-nav_links svg {
  margin-bottom: 2rem;
  cursor: pointer;
}
.main-nav_links a {
  display: block;
  transition: 700ms;
}
.main-nav_links a:hover,
.main-nav_links a:focus {
  transform: scale(1.1);
  outline: none;
}
.nav-cta {
  font-weight: 500;
  color: var(--clr-primary-400);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid var(--clr-primary-400);
}

.nav-cta:hover,
.nav-cta:focus {
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
}

/* hero start */
.hero {
  background-image: url(../img/hero-bg.svg);
  text-align: center;
  padding: 2rem 0;
  min-height: calc(100vh - 80px);
  position: relative;
}

.hero .section-head a {
  text-decoration: underline;
  font-size: inherit;
}

.hero h1 {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.4;
}

.hero-right {
  display: none;
}

/* About Start */
.about {
  text-align: center;
}

.about h2 {
  font-size: 1.75rem;
}
.insights {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.about h2,
.insights .card-desc {
  max-width: 25ch;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .section-head {
    width: fit-content;
    padding: 0 2rem;
  }
  .btn {
    display: inline-block;
    margin-top: 2rem;
  }

  .btn + .btn {
    margin-top: 0;
    margin-left: 1rem;
  }
  .nav-icon,
  .close-nav {
    display: none;
  }

  .main-nav_links {
    transform: translateY(0);
    background: none;
    flex-direction: row;
    height: 100%;
    position: relative;
  }

  .hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .hero h2 {
    font-size: 3rem;
    line-height: 64px;
  }

  .hero-left {
    text-align: start;
    width: 50%;
  }

  .hero-right {
    display: block;
    width: 50%;
  }
  .hero-right img {
    margin: auto;
  }

  .about h2 {
    font-size: 2.25rem;
  }
  .card {
    text-align: start;
  }
  .insights .card-desc {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
